<!-- templates/components/navbar.html -->
<!-- fixed -->
<nav class="bg-white shadow sticky w-full z-10 top-0">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <a href="/ui/" class="text-2xl font-bold text-blue-600">UI Service</a>
      <div class="space-x-4">
        <a href="/ui/" class="text-gray-600 hover:text-blue-600">Home</a>
        <a href="/ui/login" class="text-gray-600 hover:text-blue-600">Login</a>
        <a href="/ui/register" class="text-gray-600 hover:text-blue-600"
          >Register</a
        >
      </div>
    </div>
  </div>
</nav>
