<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}UI Service{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block head_extra %}{% endblock %}
  </head>
  <body class="bg-gray-50 text-gray-800">
    {% include "components/navbar.html" %}

    <main class="mt-16 mx-auto max-w-4xl px-4 mb-16">
      {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>
