{% extends "layouts/base.html" %} {% block title %}Login | UI Service{% endblock
%} {% block content %}
<div class="max-w-md mx-auto mt-12 bg-white p-8 rounded shadow">
  <h2 class="text-2xl font-bold mb-6 text-center">Login to Your Account</h2>
  {% if error %}
  <p class="text-red-600 mb-4">{{ error }}</p>
  {% endif %}
  <form method="post" class="space-y-4">
    <div>
      <label class="block mb-1">Username</label>
      <input
        name="username"
        required
        class="w-full px-4 py-2 border rounded focus:outline-none focus:ring"
        type="text"
        placeholder="Enter Your User Name"
      />
    </div>
    <div>
      <label class="block mb-1">Password</label>
      <input
        name="password"
        required
        placeholder="Enter Your Password"
        class="w-full px-4 py-2 border rounded focus:outline-none focus:ring"
        type="password"
      />
    </div>
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition"
    >
      Sign In
    </button>
  </form>
</div>
{% endblock %}
